/*Typography*/
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
/*variables*/
/*Tipografia*/
/*colores*/
/*components*/
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #000000;
  color: #FFFFFF;
}
.navbar__logo > img {
  width: 70px;
  padding: 10px 10px 10px 30px;
}
.navbar__menu > ul {
  padding: 30px 30px 10px 10px;
}
.navbar__menu > ul > li {
  display: inline-block;
  padding: 4px;
}
.navbar__menu > ul > li > a {
  text-decoration: none;
  color: #FFFFFF;
}
.navbar__menu > span > i {
  font-size: 30px;
  padding: 30px;
}
.navbar__menu > span > i:hover {
  color: #FFAF6D;
}

@media (min-width: 150px) and (max-width: 1100.98px) {
  .navbar__menu > ul {
    display: none;
  }
}
@media (min-width: 1100.98px) {
  .navbar__menu > span > i {
    display: none;
  }
}
/*base*/
* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu", sans-serif;
}

/*layout*/
.header {
  width: 65%;
  margin: auto;
}

@media (min-width: 150px) and (max-width: 800.98px) {
  .header {
    width: 100%;
  }
}
.section {
  display: inline-block;
  width: 95%;
  margin: auto;
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 50px;
  /*section dos*/
}
.section__uno {
  border: 1px solid #000000;
  padding: 20px;
  margin: 4px;
}
.section__cuadro {
  border: 1px solid rgba(0, 0, 0, 0.309);
  padding: 20px;
  margin: 10px;
}
.section__uno > div > img {
  width: 100%;
}
.section__uno > div > h5 {
  padding: 10px 0px 10px 0px;
  font-size: 20px;
}
.section__uno > div > p {
  padding: 10px 0px 10px 0px;
}
.section__uno > div > h6 {
  padding: 10px 0px 10px 0px;
  font-size: 20px;
}
.section__uno > div > ul > li {
  display: inline-block;
  padding: 3px;
}
.section__dos {
  border: 1px solid #000000;
  padding: 20px;
  margin: 4px;
}
.section__dos > div > div > img {
  width: 30%;
  border-radius: 150px;
  border: 1px solid #000000;
}
.section__dos > div > div {
  text-align: center;
}
.section__dos > div > div > h5 {
  padding: 10px;
  font-size: 20px;
}
.section__dos > div > div > ul > li {
  display: inline-block;
  padding: 3px;
  font-size: 22px;
}
.section__dos > div > button {
  width: 100%;
  background-color: #060606;
  color: #FFFFFF;
  font-size: 26px;
}
.section__dos > div > p {
  padding: 10px;
}
.section__dos > div > ul {
  padding: 30px;
}
.section__svg {
  width: 40%;
  margin: auto;
}

.caja-animada {
  width: 100px;
  height: 100px;
  position: relative;
  animation-name: caja;
  animation-duration: 4s;
  animation-delay: 2g;
  animation-iteration-count: infinite;
}

@keyframes caja {
  0% {
    transform: translate(0%, 0%);
  }
  50% {
    transform: translate(20%, 0%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}
.caja-animadados {
  width: 100px;
  height: 100px;
  animation-name: cajados;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  transform-box: fill-box;
  transform-origin: center;
  animation-timing-function: linear;
}

@keyframes cajados {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (min-width: 150px) and (max-width: 767.98px) {
  .section {
    grid-template-columns: auto;
  }
}
.footer {
  margin-top: 10px;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  background-color: #000000;
  color: #FFFFFF;
}
.footer p {
  padding: 30px 0px 0px 180px;
}
.footer ul {
  padding: 26px 180px 0px 0px;
}
.footer ul > li {
  display: inline-block;
  padding: 4px;
}
.footer__buttom {
  background-color: #FFA500;
  padding: 2px;
  border: #FFA500;
  margin-left: 1.5px;
}
.footer__buttom:hover {
  background-color: #FFFFFF;
}
.footer input:hover {
  background-color: #FFAF6D;
}

@media (min-width: 150px) and (max-width: 800.98px) {
  .footer {
    flex-direction: column;
    height: 200px;
    text-align: auto;
  }
  .footer p {
    padding: 0;
    text-align: center;
    padding-top: 40px;
  }
  .footer ul {
    padding: 0;
    text-align: center;
    padding-bottom: 40px;
  }
}

/*# sourceMappingURL=style.css.map */
